* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  background: rgb(87, 158, 182);
  font-family: Poppins;
  color: white;
}

/* .location,
.temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.temperature {
  flex-direction: column;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.degree-section span {
  margin: 5px;
  font-size: 30px;
}
.degree-section h2 {
  font-size: 40px;
} */

.container {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-part {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.show-error {
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

::placeholder {
  color: white;
}

.svg-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(115deg)
    brightness(106%) contrast(104%);
  padding: 2rem;
}

.mid-part {
  position: relative;
  width: 45rem;
  height: 20rem;
}

.location {
  top: 0;
  left: 0;
  position: absolute;
}
.time {
  top: 0;
  right: 0;
  position: absolute;
}

.info {
  bottom: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mid-part-info {
  font-size: 3rem;

  margin: 2rem;
}

.search {
  color: white;
  font-size: 3rem;
  border: 0;
  width: 40rem;
  border-bottom: 0.1rem solid white;
  height: 4.2rem;
  background-color: rgb(87, 158, 182);
}

.search:focus {
  outline: none;
}

.mid-part-temp {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;

  align-items: center;
}

#temp-icon {
  margin-left: 1rem;
  font-size: 6rem;
}
.temperature {
  font-size: 6rem;
  margin-left: 2rem;
  padding-right: 1rem;
}
span {
  content: "\2109";
}

.unit {
  font-size: 2.5rem;
  vertical-align: top;
  margin-bottom: 1.8rem;
}

.week-forecast {
  display: flex;
  flex-direction: row;
}
